@import "tailwindcss";

@layer utilities {
}
html {
  scrollbar-width: thin;
  scrollbar-color: #ffa42e #ff541b;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    245.71deg,
    #1e0c00 4.96%,
    #1f0700 33.7%,
    #170a00 68.41%,
    #1e0d00 96.42%
  );
}
button {
  cursor: pointer;
  outline: none;
}
input {
  outline: none;
}
